@import "_variables";
@import "_portfolio";
@import "_nav";

#hero{
background: url(/assets/img/main.jpg)no-repeat center; 
background-size: cover;
background-repeat: no-repeat;
position: relative;
width: 100%;
height: 100vh;
max-height: 800px;
min-height: 640px;
@media (max-width: 991px) {
        background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(161, 161, 161) 20%, rgba(255,255,255,1) 100%);
    }
}


#hero > div > div > div > h1{
    font-family: $display-font;
    text-transform: uppercase;
    font-size: 10rem;
    color: $primary-color;
    margin-top: 200px;
    @media (max-width: 991px) {
        margin-top: 140px;
    }
}

#spacer{
    height: 10vh;
    background-color: black;
}

.underline-B{
    // display:inline-block;
    position:relative;
}

.underline-B::after{
    content:'';
    height:4px;
    width:70%;
    background: $primary-color;
    position:absolute;
    left:15%;
    bottom:20px;
}

#hero > div > div > div > p{
    font-family: $paragraph-font;
    font-size: 2em;
    line-height: 1.15em;
     margin: 40px 0;
    @media (max-width: 991px) {
        margin: 40px 0 60px 0;
    }
}

.btn-primary{
    border-radius: 15px;
    padding: 10px 40px 8px 40px !important;
    font-family: $display-font;
    border: unset;

    background: rgb(1,176,212);
    background: linear-gradient(120deg, rgba(1,176,212,0.8718837876947654) 0%, rgba(98,203,228,0.9082983535210959) 36%, rgba(78,190,224,0.8746849081429446) 77%, rgba(0,146,198,0.8298669809720763) 100%);
    
    -webkit-box-shadow: 0px 10px 10px -3px #7070fa; 
    box-shadow: 0px 10px 10px -3px #0069D5;
    transition: 0.3s;
    position: relative;
    top: 0;
    &:hover{
        background-color: #5e5ed1;
        top: 5px;
        -webkit-box-shadow: 0px 2px 2px -1px #7070fa; 
        box-shadow: 0px 2px 2px -1px #0069D5;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    }
    &:focus, &:active{
        outline: none !important;
        box-shadow: none !important;
        text-shadow: unset !important;
    }
}

.heading{
    text-align: center;
    font-size: 4rem;
    font-family: $display-font;
    color: $primary-color;
    padding: 80px 0;
}

.card-text{
    font-family: $paragraph-font;
    text-align: center;
    font-size: 1.25em;
}
.card{
    -webkit-box-shadow: 0px 12px 20px 5px rgba(0,0,0,0.5); 
    box-shadow: 0px 12px 20px 5px rgba(0,0,0,0.5);
    transition: all 0.3s;
    position: relative;
    top: 0px;
    min-height: 300px;
    margin: 40px 0px 40px 0px;
    &:hover{
        -webkit-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5); 
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
        top:-3px;
        
    }
}
.card-title{
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 0.1;
}
.card-text{
  font-size: 25px;
}

.card-body{
    min-height: 450px;
    @media (max-width: 1200px) {
        min-height: 525px;
    }
    @media (max-width: 991px) {
        min-height: 150px;
    }
}


.featurette{
    margin: 0;
}

.lead{
    font-family: $paragraph-font;
    margin: 0px;
    font-size: 1.7em;
}

#hero > div > div > div > h1 {
    @media (max-width: 1200px) {
        font-size: 100px;
    }
}

.featurette-heading{
  color: rgb(70, 69, 69);
  font-size: 3em;
  margin-bottom: 30px;
}
.featurette-heading-nr{
    font-size: 4em;
    color: $accent-color;
    opacity: 0.5;
}
h2 > span{
  color: rgb(117, 117, 117);
  font-size: 0.7em;
}
.lead{
  margin-bottom: 0px;
}

body > section:nth-child(12) > div > div > div{
  box-shadow: unset;
  padding-bottom: 100px;
  @media (max-width: 1200px) {
        min-height: unset;
    }
}

hr{
    margin: 40px 0;
}

body > section:nth-child(10) > div > div > div > div > div > a > button{
    margin: 60px 0 100px 0;
    @media (max-width: 991px) {
        margin: 60px 0 120px 0;
    }
}
.img-fluid{
max-width: 100%; 
height: auto;
} 
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: $primary-color;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: white;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover i {
    top: 5px;
}

#contact > div > div{
    min-height: 100vh;
}

#contact > div > div > div > div > div > a > button{
    margin-top: 40px;
}

