
.gallery-title
{
    font-size: 36px;
    color: $primary-color;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid $primary-color;
    border-radius: 5px;
    text-align: center;
    color: $primary-color;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid $primary-color;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: $primary-color;

}
.btn-default:active .filter-button:active
{
    background-color: $primary-color;
    color: white;
}

.port-image
{
    width: 100%;
}

.img-responsive
{
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 12px 20px 5px rgba(0,0,0,0.5); 
    box-shadow: 0px rgba(0,0,0,0.5);
    transition: all 0.3s;
    position: relative;
    top: 0px;
        &:hover{
        -webkit-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5); 
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
        top:-3px;
        
    }
}
