$primary-color: #00a54a;
$secondary-color: #000000;
$accent-color: #035ba3;

$display-font: 'Viga', sans-serif;
$paragraph-font: 'Cormorant', sans-serif; 

// $display-font: 'Cormorant', sans-serif;
// $paragraph-font:  'Viga', sans-serif;

body{
    font-family: $display-font;
    background-color: rgb(255, 255, 255);
}
h2{
    color: $accent-color;
}
.p, h3 {
    font-family: $paragraph-font;
}

.navbar {
    background-color: black;
}